<div id="inner-webpage-content-allorders">
    <h3>All Order Information</h3>
    <div class="container">
        <table class="table" id="all-order-table">
            <thead>
                <tr>
                    {{!-- <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Computer ID</th>
                    <th>Store ID</th>
                    <th>Quantity</th> --}}
                    <th>Order ID</th>
                    <th>Customer ID</th>
                    <th>Inventory ID</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        {{!-- <td>{{order_id}}</td>
                        <td>{{first_name}} {{last_name}}</td>
                        <td>{{email}}</td>
                        <td>{{computer_id}}</td>
                        <td>{{store_id}}</td>
                        <td>{{quantity}}</td> --}}
                        <td>{{this.order_id}}</td>
                        {{!-- <td>{{this.customer_id}}</td> --}}
                        {{#if this.customer_id}}<td>{{this.customer_id}}</td>{{else}}<td>NULL</td>{{/if}}
                        {{!-- <td>{{this.inventory_id}}</td> --}}
                        {{#if this.inventory_id}}<td>{{this.inventory_id}}</td>{{else}}<td>NULL</td>{{/if}}
                        <td>{{this.quantity}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>