<div id="inner-webpage-content-allorders">
    <h3>All Order Information</h3>
    <div class="container">
        <table class="table" id="all-order-table">
            <thead>
                <tr>
                <th>Order Number</th>
                <th>Customer Name</th>
                <th>Computer System</th>
                <th>Quantity</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                <td>{{order_id}}</td>
                <td>{{first_name}} {{last_name}}</td>
                <td>{{computer_id}}</td>
                <td>{{quantity}}</td>
                <td>Fullfill Order</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>