<div id="inner-webpage-content-inventory">
    <form>
        <div class="form-group">
            <label for="store-id">Store Id</label>
            <input type="text" class="form-control" id="store-id" placeholder="Enter Store Id">
        </div>

        <div class="form-group">
            <label for="computer-description">Computer Description</label>
            <input type="text" class="form-control" id="computer-description"
                placeholder="Enter description of computer">
        </div>
        <div class="form-group">
            <label for="computer-ram">Computer's RAM</label>
            <input type="number" class="form-control" id="computer-ram" placeholder="Enter amount of ram in computer">
        </div>
        <div class="form-group">
            <label for="computer-hard_drive">Computer's Hard Drive</label>
            <input type="number" class="form-control" id="computer-hard-drive"
                placeholder="Enter amount of hard drive on computer">
        </div>
        <div class="form-group">
            <label for="computer-screen_size">Computer's Screen Size</label>
            <input type="number" class="form-control" id="computer-screen-size"
                placeholder="Enter size of computer's screen">
        </div>
        <div class="form-group">
            <label for="computer-quantity">Quantity</label>
            <input type="number" class="form-control" id="computer-quantity" placeholder="Enter number of computers"
                value=0>
        </div>
        <button type="submit" id="submit-inventory" class="btn btn-primary">Submit</button>
    </form>

    <div class="container">
        <h2>Store Inventory</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Computer Description</th>
                    <th>Computer Ram</th>
                    <th>Hard Drive</th>
                    <th>Computer Screen Size</th>
                    <th>Quantity</th>
                    <th>Store Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each inventory}}
                <tr>
                    <td>{{description}}</td>
                    <td>{{ram}}</td>
                    <td>{{hard_drive}}</td>
                    <td>{{screen_size}}</td>
                    <td>{{quantity}}</td>
                    <td>{{street_address}}</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>